body{
    margin-bottom: 8%;
}
.titulo{
    margin-top: -4%;
    margin-bottom: 1%;
}
.calculadora_box,.tipo_de_projeto{
    display: flex;
    width: 100%;
    padding: 2%;
    padding-top: 1%;
    align-items: center;
    justify-content: space-evenly;
    
    
}
.none{
    display: none;
    background-color: aqua;
}
.calculadora_box{
    padding: 0 8% 0 8%;
    margin-top: -2%;
}

.tipo_de_projeto{
    margin-top: 1%;
    padding-left: 5%;
    padding-bottom: 3%;
    justify-content: left;

}


.radio,.radio2{
    position: relative;
    appearance: none;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #446EAC;
    border-radius: 100px;
    
}
.radio:before,.radio2:before{
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 100px;
    background-color: #446EAC;
    opacity: 0;
    transition: all 500ms ease-in-out;
}
.radio:checked:before,.radio2:checked:before{
    opacity: 1;
}
.radio:focus,.radio2:focus{
    box-shadow: 0 0 20px #446EAC;
}
.calculadora_box ul{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0%;
    padding: 2%;  
}
.calculadora_box label {
    margin: 8px;
    
}
.area {
    height: 50px;
    width: 280px;
    border-radius: 50px;
    font-size: 18px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #0665f3;
    font-weight: 700;
    gap:2%;
    margin-top: 0%;

}
.orcamento_box{
    border: 4px solid #446EAC;
    margin: 4%;
    margin-top: -8%;
    backdrop-filter: blur(1px);
    color: white;
    font-weight: 800;
     text-shadow: 
     -1px -1px 5px black, 
     -1px 1px 5px black,                    
      1px -1px 5px black,                  
      1px 0px 5px black,
      0px 0px 6px #f7f8fa;
      font-family: 'Times New Roman';
      border-radius: 20px;
      transition: all 2s;
      height: 480px;
      
    
}
.orcamento_box:hover{
    backdrop-filter: blur(4px);
}
.box_img{
    background-image: url(civirmita.png);
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: center top -30px;
    position: relative;
}
.imgani{
    animation: imganimed 1s ease-in-out;
}
@keyframes imganimed{
    from{backdrop-filter: blur(0px);}
    to{backdrop-filter: blur(300px);}
}
.imgani2{
    animation: imganimed2 1s ease-in-out;
}
@keyframes imganimed2{
    from{backdrop-filter: blur(300px);}
    to{backdrop-filter: blur(0px);}
}

.butao_box{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    margin-top: -3.5%;
}
#button{
    border-radius: 40px;
    background-color: #446EAC;
    margin-top: -3%;
    margin-left: 50%;
}
.space{
    height: 100px;
}
.titulo_seuorcamento{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    font-size: larger;
}.content_seuorcamento{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    margin-top: 8%;
    color: white;
}
.content_seuorcamento ul{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
}
.content_seuorcamento span{
    color: chartreuse;
}

.conteudoani2,.conteudoani{
    display: none;
}
.conteudoani0{
    margin: 4%;
}
.conteudoani0 ul{
    margin: 6%;
    
    font-size: 14pt;
}
.conteudoani0 ul > ul{
    background-color: #446eac63;
    padding: 8px;
    padding-left: 4%;
    border-radius: 40px;
    transition: .5s;
}
.conteudoani0 ul > ul:hover{
    background-color: #5490e9;
    scale: 1.05;
    box-shadow: 0 0 8px #446EAC;
   
}

li{
    list-style: disc;
}
li::marker{
    color: #0548ad;
    
}
/*li:before{
    content: "\2022";
    color: #0665f3;
    margin: 5px;
    font-size: larger;  
}*/

.conteudoani{
    padding: 5%;
}

.seuorcamento_button{
    display: flex;
    justify-content: space-around;
    align-items: space-between;
}
.seuorcamento_button button,#button{
    margin: 20px;
    margin-left: 300px;
    font-size: 14px;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
    color: white;
    height: 50px;
    width: 150px;

}
@media(max-width:1020px) {
    .titulo{
        text-align: center;
        margin-top: -10%;
        margin-bottom: 4%;
    }
    .calculadora_box{
        display: flex;
        flex-direction: column;
        justify-content: center ;
        align-items: start ;
        padding-top: 2%;
        padding-bottom: 2%;
        
        
        
    }
    .calculadora_box ul {
        display: flex;
        padding: .5%;

        
        
        
        
    }
    .orcamento_box{
        height: 600px;
        padding-top: 2%;
        padding-right: 4%;
        
        
    }
    .area{
        width: 270px;
    }
    #button{
        margin-left: 0;
    }
    .conteudoani2{
        font-size: 15px;
        padding: 4%;
        

    }
    .content_seuorcamento{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        
    }
    .seuorcamento_button{
        margin-top: 40%;
    }
    .box_img{
        background-image: url(civirmita.png);
        background-size: 90%;
        background-repeat: no-repeat;
        background-position: center top 150px;
        position: relative;
    }
    .conteudoani0 ul{
        margin: 6%;
        
        font-size: 15pt;
    }
    .conteudoani0 ul > ul{
        padding: 8px;
        padding-left: 15%;
        padding-right: 8%;
        border-radius: 20px;
    }
}
