body{
    overflow-x: hidden;
    z-index: -1;
}
.trabalhe-conosco{
    position: absolute;
    right: 4%;
    top: 20%;
    color:whitesmoke;
    font-weight: 900;
    font-size: larger;
    height: 30px;
    width: 200px;
    background-color: #446EAC;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    transition: .5s;

}
.btn-simule{
    position: fixed;
    right: 2%;
    bottom: 8%;
    height: 30px;
    width: 200px;
    background-color: #446EAC;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 800;
    font-size: larger;
    color: rgb(249, 249, 250);
    transition: .5s;
    margin-bottom: 20px;
}
.trabalhe-conosco:hover,.btn-simule:hover{
    scale: 1.1;
}
.conteudo{
    height: 800px;
}
footer{
    z-index: 1;
    backdrop-filter: blur(200px);
}
@media (max-width:1020px) {
    .trabalhe-conosco{
        scale: 0.8;
        margin-top: 10%;
    }
    .trabalhe-conosco:hover{
        scale: 0.9;
    }
}