.text-inicial{
    color: #fff;
    font-size: 20px;
    text-align: justify;
    padding: 0px 4% 8%;
    gap: 90px;

}
.text-inicial p {
    margin: 40px 0%;
}

.titulo{
   display: flex;
   justify-content: center;
   margin-bottom: 4%;
   font-size: 28px;
   margin-top: 30px;
}
.text-inicial span{
    color: #446EAC;
}
.diretorias{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0% 2.5% 8%;
}
.diretorias ul{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    
    
}
.diretorias-box{
    background:transparent;
    height: 390px;
    width: 390px;
    border-radius:50px;
    transition: .9s;
    background-repeat: space;
    background-position: center; 
    background-size: 100%;
    position: relative;
    overflow: hidden;
    filter: contrast(120%);
    
}
.diretorias-box h1{
    height: 50%;
    color: #446EAC;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -80px;
    text-shadow: 
    -1px -1px 5px black, 
    -1px 1px 5px black,                    
     1px -1px 5px black,                  
     1px 0px 5px black,
     0px 0px 5px #446EAC;

    
  
}
#projetos{
    background-image: url(larissa.jpg);
    background-size: 155%;
    background-position: top center;
}
projetos:hover{
    background-size: 230%;
    background-position: top -50px left -80px;
}
#presidencia{
    background-image: url(lorrany3.png);
    background-position: top;
    background-size: 100%;
   
}
presidencia:hover{
    background-size: 180% ;
    background-position:  top -40px left;
}
#gestao{
    background-image: url(amailson.jpg);
    background-position: top;
}
gestao:hover{
    background-size: 175%;
    background-position:  top -80px left 0px;
}
#market{
    margin-left: 15%;
    background-image: url(lara.jpg);
}
market:hover{
    background-size: 155%;
    background-position: center -20px left;
}
#financeiro{
    background-image: url(paulo.jpg);
    margin-right: 15%;
    background-position: top -50px left -160px;
    background-size: 240%;
}
financeiro:hover{
    background-size:250%;
    background-position: top -30px left -50px;
}
.diretorias-box:hover{
    scale: 1.01;
    box-shadow: 0px 0px 20px #446EAC;
    background-position: center left;
    .saiba-mais button{
        display: block;
        animation: btnani 1s ease-in-out;
        margin-bottom: 15%;
    }
    .btn-sm{
        display: flex;
        align-items: center;
        justify-content: center;
        animation: btnsm 1s ease-in-out;
        background-image: url(socialicos/whatsapp.png);
        background-repeat: no-repeat;
        background-size: 60%;
        background-position: center;
        
    }
    .btn-sm:nth-child(2){
        background-image: url(socialicos/o-email.png);

    }
    .btn-sm:nth-child(3){
        background-image: url(socialicos/linkedin.png);
        background-size: 80%;

    }
    .diretorias-box h1{
        display: none;
      
    }
    
}

.social-midia{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 80%;
    margin-left: 4%;
    margin-top: 2%;
    
}
.social-midia .btn-sm{
    height: 50px;
    width: 50px;
    border-radius: 100px;
    background-color: #446EAC;
    display: none;
    box-shadow: 0px 0px 40px #446EAC;
}
.btn-sm:hover{
    scale: 1.1;
    transition: 0.2s;
    box-shadow: 0px 0px 8px;

}
@keyframes btnsm{
    from{
        scale: 0.1;
    }
    to{
        scale: 1;
    }
}
.saiba-mais{
    width: 100%;
    display: flex;
    justify-content: center;
}
.saiba-mais button{
    height: 40px;
    width: 100px;
    border-radius: 50px;
    background-color: #446EAC ;
    margin-bottom: 4%;
    display: none;
    transition: .2s;
    box-shadow: 0px 0px 40px #446EAC;
    font-size: 15px;
    font-weight: 700;
    font-style: italic;
}
@keyframes btnani{
    from{
        scale: 0.1;
    }
    to{
        scale: 1;
    }
}

.pos-sobre{
    height: 50px;
    width: 100%;
    display: block;
}

@media (max-width:1020px) {
    .titulo{
        margin-bottom: 5%;
        font-size: 15px;
    }
    .text-inicial{
        padding: 0px 8% 8%;
    
    }
    .diretorias{
        margin: 0;
        

    }
    .diretorias ul{
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    .diretorias-box{
        margin-bottom: 10%;
        width: 350px;
        height: 350px;
    }
    #market{
        margin-left: 0;
    }
    #financeiro{
        margin-right: 0;
    }
}