
/*Geral*/ 
*{ 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; /*Manter tudo na caixa*/ 
    /*Google fonts*/ 
    font-family: 'Poppins', sans-serif;
    /*Google fonts*/ 
} 
 
body{
    width: 100%;
    height: 100%;
    background-color: black; 
    height: 100vh; /*Altura*/ 
} 
 
.interface{ 
    max-width: 1280px; /*Largura maxima*/ 
    margin: 0 auto; 
} 
 
.flex{ 
    display: flex; 
} 
 
.btn-contato button{ 
    position: 10px 40px; /*posição do botão*/ 
    padding: 5px; 
    font-size: 18px; /*Tamanho da fonte*/ 
    font-weight: 700; 
    background-color: #446EAC; /*Cor do botão de contato*/ 
    color: #fff; 
    border: 0; 
    border-radius: 30px; /*Borda arredondada do botão*/ 
    cursor: pointer; 
    transition: 0.2s; 
}
.img-topo-site{
    z-index: -1;
}
 
h2.titulo{ 
    color: #fff; 
    font-size: 34px; 
    text-align: center; /*Centralizar texto*/ 
} 
h2.titulo span{ 
    color: #446EAC; 
    
} 
 
button:hover, form .btn-enviar input:hover{ 
    box-shadow: 0px 0px 8px #446EAC; 
    transform: scale(1.06); 
} 
 
/*Estilo do cabeçalho*/ 
header{ 
    padding: 40px 4%; /*Distância da tela*/ 
} 
 
header > .interface{ 
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
} 
 
header a{ 
    color: #5c5c5c; 
    text-decoration: none; 
    display: inline-block; 
    transition: .2s; 
} 
 
header a:hover{ 
    color: #fff; 
    transform: scale(1.06); 
} 
 
header nav ul{ 
    list-style-type: none; 
} 
 
header nav ul li{ 
    display: inline-block; 
    padding: 0 40px; /*Distancia dos menus*/ 
} 
 
/*Estilo topo site*/ 
section.topo-do-site{ 
    padding: 40px 4%; 
} 
 
section .topo-do-site .flex{ 
    align-items: center; 
    justify-content: center; 
    gap: 90px; /*Espaçamento*/ 
} 
 
.topo-do-site h1{ 
    color: #fff; 
    font-size: 42px; /*Tamanho da fonte do texto h1*/ 
    line-height: 40px; /*Distância das linhas*/ 
} 
 
.topo-do-site p{ 
    color: #fff; 
    margin: 40px 0px; 
    text-align: justify; 
    font-size: 20px;
} 
 
.topo-do-site .img-topo-site img{ 
    position: relative; 
    animation: flutuar 2s ease-in-out infinite alternate; 
} 
 
@keyframes flutuar{ 
    0%{ 
        top: 0; 
    } 
    100%{ 
        top: 30px; 
    } 
} /*Animação da imagem civirmita*/ 
 
/*Especialidades*/ 
section.especialidades { 
    padding: 60px 4%;
    height: 100%;
    width: 100%;
    display: flex;
     
} 
 
section.especialidades{ 
    gap: 60px; 
} 
 
.box {
    display: flex;
    flex-direction: column;
    align-items: space-around;
    width: 400px; /*Criar quadrado perfeito*/ 
    height: 400px; ; /*Criar quadrado perfeito*/ 
    color: #fff; 
    text-align: justify; 
    padding: 20px 2%; 
    border-radius: 20px; 
    margin-top: 45px; 
    margin-right: 25px; 
    margin-left: 25px; 
    transition: 0.2s;
    position:relative;
    overflow: auto;
    

}
.box::-webkit-scrollbar{
    display: none;
}
 
.box:hover{ 
    transform: scale(1.06); 
    box-shadow: 0 0 20px #5c5c5c; 
} 
.box p{
    font-size: 20px;

    
}
.especialidades h3{ 
    font-size: 28px; 
    
    
     
} 
.box i{ 
    font-size: 30px; 
    color: #446EAC;
    display: flex;
    margin-bottom: 10%;
    
} 
 
/*Estilo sobre*/ 
section.sobre{ 
    padding: 80px 4%; 
} 
 
section.sobre.flex{ 
    align-items: center; 
    gap: 60px 
} 
.membros.jpg{
    background: url("membros.jpg") no-repeat;
    background-size: 100%;
    background-position: center;
}
 
.sobre .txt-sobre{ 
    color: #fff; 
    text-align: justify; 
} 
 
.txt-sobre h2{ 
    font-size: 38px; 
    line-height: 40px; 
    padding: 40px 4%; 
} 
 
.txt-sobre p{ 
    padding: 10px 4%; 
    margin: 5px 0; 
    font-size: 20px;
} 
 
.txt-sobre .btn-social button{ 
    width: 60px; 
    height: 60px; 
    border-radius: 50%; 
    border: 0; 
    background-color: #446EAC; 
    font-size: 30px; 
    cursor: pointer; 
    margin: 0px 5px; 
    transition: 0.2; 
}
.btn-social{
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
} 
 
/*Portfolio*/ 
section.portfolio { 
    padding: 80px 4%; 
    box-shadow: 0 0 40px 10px #1b1b1b; 
} 
 
section.flex{ 
    gap: 80px; 
    justify-content: space-around; 
} 
 
.port{ 
    background-color: #446EAC;     
    width: 450px;  
    height: 400px;  
    background-size: cover; /*Imagem se ajusta a tela*/ 
    background-position: 100% 0%; 
    text-align: justify; 
    padding: 20px 2%; 
    border-radius: 40px; 
    margin-top: 45px; 
    margin-right: 25px; 
    margin-left: 25px; 
    transition: 10s; 
    cursor: pointer; 
    position: relative; /*Introdução do overlay*/ 
} 
 
.port:hover { 
    background-position: 100% 100%; 
} 
 
.overlay { 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    background-color: black; 
    border-radius: 40px; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    font-size: 24px; 
    font-weight: 600; 
    color: #fff; 
    opacity: 0; /*Opacidade do overlay*/ 
    transition: 0.5s; 
} 
 
.overlay:hover{ 
    opacity: 50%; /*Opacidade ao passar o mouse por cima*/ 
} 
 
/*Estilo do formulario*/ 
section.formulario{ 
    padding: 80px 4%; 
} 
 
form{ 
    max-width: 500px; 
    margin: 0 auto; 
    display: flex; /*Elementos um ao lado do outro*/ 
    justify-content: center; 
    flex-direction: column; /*Elementos em colunas*/ 
    gap: 10px; /*Espaçamento*/ 
    margin-top: 40px; 
} 
 
form input, form textarea{ 
    width: 100%; 
    background-color: rgb(37, 37, 37); 
    border: 0; 
    outline: 0; 
    padding: 20px 15px; 
    border-radius: 10px; 
    color: #fff; 
    font-size: 18px; 
} 
 
form textarea{ 
    resize: none; /*Redimensionar*/ 
    max-height: 200px; 
} 
 
form .btn-enviar{ 
    margin-top: 20px; 
    text-align: center; 
} 
 
form .btn-enviar input{ 
    width: 120px; 
    background-color: #446EAC; 
    color: black; 
    font-weight: 700; 
    cursor: pointer; 
    transition: 0.2s; 
} 
 
/*Rodapé*/ 
footer{ 
    padding: 40px 4%; 
    box-shadow: 0 0 40px 10px #1b1b1b; 
} 
 
footer .line { 
    padding: 20px 0; 
} 
 
.borda{ 
    border-top: 5px solid #446EAC; 
} 
 
footer .line p i{ 
    color: #446EAC; 
    font-size: 24px; 
 
} 
 
.line p a{ 
    color: #fff; 
    padding: 0 5px; 
} 
 
footer .btn-social button{ 
    width: 60px; 
    height: 60px; 
    border-radius: 50%; 
    border: 0; 
    background-color: #446EAC; 
    font-size: 30px; 
    cursor: pointer; 
    margin: 0px 5px; 
    transition: 0.2; 
} 
 
/*Responsivo*/ 
@media screen and (max-width:1020px) { 
    /*Geral*/ 
    .interface, .flex{ 
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        
        
        
    } 
 
    h2.titulo{ 
        font-size: 30px; 
    } 
 
    /*Cabeçalho*/ 
    .menu-desktop, .btn-contato{ 
       
    } 
    /*Topo do site*/ 
    section.topo-do-site{ 
        padding: 20px 8%; 
    } 
     
    section .topo-do-site .flex{ 
        gap: 45px; /*Espaçamento*/ 
    } 
 
    .topo-do-site h1{ 
        font-size: 30px; /*Tamanho da fonte do texto h1*/ 
    } 
 
    .topo-do-site .img-topo-site img{ 
        width: 100%; 
    } 
     
    /*Especialidades*/ 
    section.especialidades { 
        padding: 40px 8%; 
    } 
 
    section.especialidades{ 
        gap: 60px; 
    }
    .display{
        display: flex;
        align-items: center;
        justify-content: center;
    } 
     
    .box { 
        width: 80%; /*Criar quadrado perfeito*/ 
        height: auto; /*Criar quadrado perfeito*/ 
        color: #fff; 
        text-align: justify; 
        padding: 20px 8%; 
        border-radius: 20px; 
        margin-top: 45px; 
        margin-right: 25px; 
        margin-left: 25px; 
        transition: 0.2s; 
    } 
     
    .box:hover{ 
        transform: scale(1.06); 
        box-shadow: 0 0 20px #5c5c5c; 
    } 
     
     
    .especialidades h3{ 
        font-size: 20px; 
        margin: 15px 0;
        
    } 
    .box i{ 
        font-size: 70px; 
        color: #446EAC;
        display: flex;
        margin-bottom: 4%;
    } 
 
    /*Sobre*/ 
    section.sobre{ 
        padding: 80px 8%;
        align-items: center;
        justify-content: center;
        
    }
    
     
    .txt-sobre h2{ 
        font-size: 30px; 
        line-height: 35px; 
        padding: 40px 4%; 
        text-align: center; 
    } 
     
    .txt-sobre p{ 
        padding: 10px 4%; 
        margin: 5px 0;
        
    } 
     
    .txt-sobre .btn-social button{ 
        width: 60px; 
        height: 60px; 
        border-radius: 50%; 
        border: 0; 
        background-color: #446EAC; 
        font-size: 30px; 
        cursor: pointer; 
        margin: 0px 5px; 
        transition: 0.2; 
        text-align: center; 
    } 
 
    .img-sobre, .membros.jpg{ 
        display: flex;
        align-items: center;
        justify-content: center;
        
        
    }
    
 
    /*Portifolio*/ 
    section.portfoio { 
        padding: 80px 8%;
        
        
    }
 
    .port{ 
        background-color: #446EAC;     
        width: 100%;  
        max-width: 360px; 
        margin: 5%; 
        height: 400px;
        margin-bottom: 5%;
    } 
}
#favicon{
    width: 33px;
    height: 33px;
}

@media (max-width:650px) {
    .img-sobre, .membros.jpg{ 
        display: flex;
        align-items: center;
        justify-content: center;
        scale: 0.7;
              
    }
}
@media (max-width:428px) {
    .img-sobre, .membros.jpg{ 
        display: flex;
        align-items: center;
        justify-content: center;
        scale: 0.65;
              
    }
}
@media (max-width:414px) {
    .img-sobre, .membros.jpg{ 
        display: flex;
        align-items: center;
        justify-content: center;
        scale: 0.63;
              
    }
}
@media (max-width:393px) {
    .img-sobre, .membros.jpg{ 
        display: flex;
        align-items: center;
        justify-content: center;
        scale: 0.6;
              
    }
}
@media (max-width:375px) {
    .img-sobre, .membros.jpg{ 
        display: flex;
        align-items: center;
        justify-content: center;
        scale: 0.55;
              
    }
}
@media (max-width:360px) {
    .img-sobre, .membros.jpg{ 
        display: flex;
        align-items: center;
        justify-content: center;
        scale: 0.55;
              
    }
}

@media (max-width: 1020px) {
     
    /*Estilo do cabeçalho*/ 
     
    header > .interface{ 
        display:inline; 
        align-items:center;
        text-align: center;
         font-size: small;
         position: relative;
    }
    #bnt-contato button{
        display: flex;
        scale: 0.8;
    }
    .menu-desktop{
        
        width: 100%;
    } 
     
    header nav ul li{ 
        display: inline-block;
        padding: 2%; /*Distancia dos menus*/ 
    } 

}
